a:hover{
    background-color:green;
}
body{
    display: flex;flex-direction: column;

}
.small{
    width=300px;
    height=220px;

}
main{
    display: flex;flex: auto;

}
aside{
    flex: 1
}
article{
    flex: 3
}
